/*LOGIN STYLE*/
.login {
    background-color: #34495e;
}

.login-banner {
    margin: 50px 0;
    color: #fff;
}

.portlet {
    border: 1px solid;
}

.portlet-green, .portlet-green>.portlet-heading {
    border-color: #16a085;
}

.portlet .login-heading {
    padding: 15px;
}

.portlet-green>.portlet-heading {
    color: #fff;
    background-color: #16a085;
}

.portlet-green, .portlet-green>.portlet-heading {
    border-color: #16a085;
}

.portlet .portlet-body {
    padding: 15px;
    background: #fff;
}

.portlet .portlet-heading .portlet-title {
    float: left;
}

.portlet .portlet-heading .portlet-title h4 {
    margin: 10px 0;
}

.portlet .portlet-heading h4 {
    padding: 1px 0;
    font-size: 16px;
}

.portlet .portlet-heading .portlet-widgets {
    float: right;
    margin: 8px 0;
}

.btn-white {
    border-color: #cccccc;
    color: #333333;
    background-color: #ffffff;
}

.radio, .checkbox {
    min-height: 18px;
}

input[type="checkbox"], .checkbox input[type="checkbox"] {
    /*position: relative;
    -webkit-appearance: none; */   
    width: 13px;
    height: 13px;
    border: 1px solid #dcdcdc;    
    border-radius: 1px;
    background: white;
}

.btn-green {
    border-color: #15987e;
    color: #fff;
    background-color: #16a085;
}
/*FIN STYLE LOGIN*/

.img-circle {
    border-radius: 50%;
    width: 123px;
    height: 102px;
}

* {
    box-sizing: border-box;
}

figure {
    line-height: .7;
    margin: 0;
    position: relative;
}

a {
    color: #333;
    text-decoration: none;
}

.site-header, .site-menu, .site-body, .site-footer {
    margin-left: auto;
    margin-right: auto;
    width: 955px;
}

.site-header {
    background-image: url(./images/bg_header.png);
    background-position: 0 0;
    background-repeat: repeat-x;
    margin-bottom: 3px;
    margin-top: 8px;
}

.site-header .site-logo {
    height: 105px;
    /*padding-top: 28px;*/
    /*text-align: center;*/
}

.site-logo div:first-child {
    float: left;
    width: 14%;
}

.site-logo .div-title {
    margin-top: 35px;
}

.site-logo .div-title h2 {
    color: white
}

.site-menu {
    border-top: 1px solid #d5e1e1;
    margin-bottom: 3px;
}

.site-menu .box-content {
    /*background-color: white;*/
    text-align: center;
}

.site-menu .home-menu {
    display: inline-block;
    vertical-align: middle;
}

.site-menu .fa {
    font-size: 23px !important;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-menu .link {
    font-size: 15px;
    padding: 0 13px 0 5px;
}

.site-menu .link.first {
    padding-left: 0!important;
}

.site-menu .link {
    /*background-image: url(./dot.png);*/
    background-position: right center;
    background-repeat: no-repeat;
    display: inline-block;
    font: 16px "ChronicleDisplayBold";
    padding: 0 35px 0 15px;
    position: relative;
    vertical-align: middle;
}

.site-menu .link a {
    color: #444;
    display: block;
    padding: 13px 0;
}

.site-body {
    background-color: white;
    padding-top: 15px;
}

.site-body button {
     margin-left: 15px;
}

.site-footer {
    color: #000;
    font: 11px "Open Sans";
}

.site-footer .footer-cols {
    background-color: #f7c600;
    padding: 30px 20px 40px;
}

.site-footer .footer-cols .site-info {
    width: 25%;
}

.site-footer .footer-cols .site-info {
    padding-left: 0!important;
}

.site-footer .toggle-content {
    width: 680px;
}

.site-footer .toggle-content {
    display: table-cell;
}

.site-footer .footer-cols .ec-mails, .site-footer .footer-cols .ec-links, .site-footer .footer-cols .ec-gda {
    width: 226px;
}

.site-footer .footer-cols .site-info, .site-footer .footer-cols .ec-mails, .site-footer .footer-cols .ec-links, .site-footer .footer-cols .ec-gda {
    padding-left: 13px;
    padding-right: 0;
}

.site-footer .footer-cols .ec-gda {
    width: 226px;
}

.site-footer .gec-sites {
    background-color: #ebebeb;
    padding: 20px 20px 15px;
    /* text-transform: uppercase; */
}

.site-footer .footer-cols .site-info .site-logo {
    display: block;
    margin-bottom: 10px;
    width: 220px;
}

.site-footer a {
    color: #000;
}

.site-footer .footer-cols .site-info .site-legal li {
    margin-bottom: 3px;
}

.site-footer .toggle-content {
    width: 680px;
}

.site-footer .footer-cols .ec-mails ul li {
    font-size: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.site-footer .footer-cols .ec-links ul li {
    margin-bottom: 8px;
    text-transform: uppercase;
}

.site-footer .footer-cols .ec-gda p {
    background-image: url(../img/logo_gda.png);
    background-repeat: no-repeat;
    bottom: 0;
    display: block;
    font-size: 10px;
    height: 45px;
    left: 20px;
    margin: 0;
    padding: 10px 0 0 85px;
    position: absolute;
    width: 100%;
}

.site-footer .gec-sites {
    background-color: #ebebeb;
    padding: 20px 20px 15px;
    text-transform: uppercase;
}

.site-footer .gec-sites .title {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

.site-footer .gec-sites ul {
    display: inline;
}

.site-footer .gec-sites ul li {
    display: inline-block;
    line-height: 22px;
    margin-right: 3px;
}


/*¨LOGIN ¡*/

.login-panel {
    margin-top: 25%;
}

body {
    background-color: #f8f8f8;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

#btnCrear {
    margin-bottom: 15px;
}

.mensaje-flotante {
    position: fixed;
    right: 10px;
    top: 10px;
    height: 50px;
    padding: 5px;
    padding-right: 10px;
    font-size: 0.9em;
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
    -webkit-animation: fadeIn .5s ease-in 1 forwards;
  animation: fadeIn .5s ease-in 1 forwards;
  opacity: 0;
}

.btn-panel {
    float: left;
    width: 48%;
}

.site-body .input-group {
    width: 50% !important;
}

.m-left {
    margin-left: 100px;
}
